---
title: DataScience Tutorial
description: Azure, Python,Pandas, Anaconda, Spark, SparkSQL, pySpark, Scala, Oracle, Datascience, coding blog
layout: default
pagination: 
  enabled: true
---


<!-- Featured 
================================================== -->

{% if page.url == "/index.html" %}
  <section class="featured-posts">
    <div class="section-title">
      <h2><span>Featured</span></h2>
    </div> 
  
  <div class="row">
  {% for post in site.posts %}
    {% if post.featured == true %}
      {% include post-card.html %} 
    {% endif %}
  {% endfor %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-63+c0-2p-8m+15d"
     data-ad-client="ca-pub-6236497625449277"
     data-ad-slot="2398713306"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
  
  </section>
{% endif %}

<!-- post contents 
================================================== -->
<section class="recent-posts">

  <div class="section-title">
    <h2><span>All Stories</span></h2>
  </div>
  
  <div class="row">
  {% for post in paginator.posts %} 
    {% include post-card.html %}
  {% endfor %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-63+c0-2p-8m+15d"
     data-ad-client="ca-pub-6236497625449277"
     data-ad-slot="2398713306"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>  
</section>

<!-- pagination 
================================================== -->

{% include pagination.html %} 
  

<!--
You can use HTML elements in Markdown, such as the comment element, and they won't be affected by a markdown parser. However, if you create an HTML element in your markdown file, you cannot use markdown syntax within that element's contents.
-->