<div class="cell border-box-sizing code_cell rendered selected">
<div class="input">
<div class="prompt input_prompt">In [1]:</div>
<div class="inner_cell">
<div class="input_area">
<div class=" highlight hl-ipython3">
{% highlight shell %}
{{include.input}}
{% endhighlight %}
</div>
</div>
</div>
</div>
<div class="output_wrapper">
<div class="output">
<div class="output_area">
<div class="prompt output_prompt">Out [1]:</div>
<div class="output_html rendered_html output_subarea output_execute_result">
{{include.output}}
</div>
</div>
</div>
</div>
</div>
<pre></pre>